server {
	server_name naf_naf
	listen 127.0.0.1:8080

	root ./path
	index index.html

	allow_methods GET

	location /put_test {
		allow_methods PUT
		root ./path/put_here
		alias
	}

	location /post_body {
		allow_methods POST
		client_body_buffer_size 100
	}

	location /directory {
		alias
		allow_methods GET
		root path/
		index get.index

		location *.bla {
			allow_methods GET POST
			cgi_pass path/cgi
		}
	}

	location *.bla {
		allow_methods POST
		cgi_pass path/cgi
	}
}